/*font-family: 'Montserrat', sans-serif;*/

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
header{
    padding: 10px 0;
}
.navbar-nav .nav-item .nav-link{
    color: #204f87;
    font-size: 14px;
    font-weight: 600;
}
.banner{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    min-height: 80vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
}
.banner h1{
    font-size: 56px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.banner-icon{
    position: absolute;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    left: 50%;
    transform: translate(-50% 0%);
    top: 86%;
    animation: updown 1s linear infinite;
    animation-direction: alternate;
}
@keyframes updown{
    0%{
        top: 86%;
    }
    100%{
        top: 90%;
    }
}
.who-we-are{
    padding: 100px 0px 150px 0px;
}

.heading-blue{
    font-size: 36px;
    font-weight: 700;
    color: #28377e;
    text-transform: uppercase;
    padding-top: 15px;
}
.who-we-are p{
    color: #b0b0b1;
    font-size: 15px;
    line-height: 25px;

}
.modify-span{
    display: inline-block;
    width: 0;
    height: 4px;
    background-color: #f2622c;
    transition: 0.5s all ease-in-out;
}
.who-we-are:hover .modify-span{
    width: 60px;
}
.what-we-do{
    background-color: #f7f8f8;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 75px;
    background-image: url(../images/wwd-bg.png);
    background-repeat: no-repeat;
    min-height: 80vh;
    background-size: 74%;
    background-position: right bottom;
}
.what-we-do:hover .modify-span{
    width: 60px;
}
.wwd-img-part{
    padding-top: 65px;
    padding-bottom: 30px;
}
.wwd-image{
    position: relative;
}
.wwd-image img{
    width: 100%;
}
.wwd-image::before{
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 0%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+6,2b2f85+100&0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.06) 6%, rgba(43,47,133,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.06) 6%,rgba(43,47,133,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.06) 6%,rgba(43,47,133,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#2b2f85',GradientType=0 ); /* IE6-9 */

transition: 0.5s all ease-in-out;
}
.wwd-title{
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%); 
    color: #fff;
    transition: 0.5s all ease-in-out;
    opacity: 0;
}
.wwd-title h1{
    width: 100%;
    font-size: 26px;
    font-weight: 700;
}
.wwd-icon{
    position: absolute;
    top: 75%;
    left: 45%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 30px;
    transition: 0.5s all ease-in-out;
    opacity: 0;
}
.wwd-image:hover::before{
    height: 100%;
}
.wwd-image:hover .wwd-title{
    top: 40%;
    opacity: 1;
}
.wwd-image:hover .wwd-icon{
    left: 50%;
    opacity: 1;
}
.our-attorneys{
    background-image: url(../images/our-attorneys-bg.png);
    background-repeat: no-repeat;
    min-width: 100vh;
}
.our-attorneys:hover .modify-span{
    width: 60px;
}
.oa-row1{
    padding-top: 120px;
}
.heading-white{
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding-top: 15px;
}
.oa-row1 p{
    color: #929dcf;
}
.see-more{
    color: #f2622c;
    font-weight: bold;
    font-size: 16px;
}
.oa-title{
    position: absolute;
    top: 80%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%); 
    color: #fff;
    transition: 0.5s all ease-in-out;
    opacity: 0;
}
.oa-title h1{
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    padding-left: 30px;
}
.wwd-image:hover .oa-title{
    top: 70%;
    opacity: 1;
}
.oa-row2{
    padding-top: 20px;
    padding-bottom: 180px;
}
.the-languages{
    text-align: center;
    padding-top: 100px;
}
.the-languages p{
    color: #b1b0b1;
    text-align: left;
    font-size: 15px;
}
.the-languages h3{
    color: #28377e;
    font-weight: 700;
    text-align: left;
}
.the-languages h5{
    text-align: left;
}
.the-languages:hover .modify-span{
    width: 60px;
}
.tl-row2{
    padding-top: 80px;
    padding-bottom: 100px;
}
.contact-us{
    padding-top: 50px;
    text-align: center;
    background-color: #28377e;
}
.contact-us:hover .modify-span{
    width: 60px;
}
.contact-us form{

}
.contact-us form input{
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(164, 179, 209);
    margin-bottom: 45px;
    caret-color: #fff;
}
.contact-us form input::placeholder{
    color: #fff;
    font-weight: 200;
}
.contact-us form textarea{
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(164, 179, 209);
    margin-bottom: 35px;
    caret-color: #fff;
}
.contact-us form textarea::placeholder{
    color: #fff;
    font-weight: 200;
}
.contact-us form input[type="submit"]{
    border: none;
    background-color: #f2622c;
    width: 150px;
    height: 40px;
    color: #fff;
    text-transform: uppercase;
}
.contact-us form input[type="submit"]:hover{
    border: none;
    background-color: #db4007;
    width: 150px;
    height: 40px;
    color: #fff;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
.cu-row2{
    padding: 60px 0;
}
footer{
    background-color: #0c1234;
    margin-top: 10px;
    height: 90px;
    align-items: center;
    display: flex; 
}
footer p{
    color: #616ca8;

}